name: main

on: [push]

jobs:
  apps:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        app: [tenes, komega, hphi, mvmc, openmx, dsqss, espresso_respack, lammps]
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: apt
        run: sudo apt install openmpi-bin libopenmpi-dev libscalapack-openmpi-dev libfftw3-dev

      - name: pip
        run: |
          python3 -m pip install -U pip
          python3 -m pip install numpy scipy toml setuptools

      - name: setup
        run: sh setup/setup.sh
      
      - name: test
        run: sh .github/scripts/test.sh ${{matrix.app}}
